{% load static   %}
{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/BS.min.css' %}">
    <title>Create new type</title>
  </head>
  <body>
           <!-- Navigation-->
           <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <a  style="color: gold"class="navbar-brand" href="{% url 'home'  %}">Apple world</a>
                <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a style="color: gold;" class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'types' %}">types list</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a style="color: gold;" class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'about' %}">About</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a  style="color: gold;"class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
<section class="page-section" id="contact">
    <form style="border: 5px solid black;margin: 200px;text-align: center;flex-direction: column;" method="POST" class="post-form" action="" enctype="multipart/form-data">
      {% csrf_token %}
    <div  style="display:flex;flex-direction: column;flex-wrap: wrap;" class="container align-middle;">
      {{ form }}
      <input type="submit" name="submit">
      {% if form.instence.photo %}
  <h3>Succesfully uploaded : {{form.instance.name}}</h3>
  <img src="{{form.instance.photo.url}}" alt="connect" style="max-height:300px">
{% endif %}
    </div>
</form>
  </body>
</html>
{% endblock %}
